@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

* {
    margin: 0;
    box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

a {
	text-decoration:none;
}

a:hover {
	text-decoration:none;
}



#page {
	width:100%;
	height:100%;
	position: relative;
}

.collapsed {
	visibility: collapse;
}


/* Background */

#bg {
	position: absolute;
	width: 100%;
	height: 100%;
}

#bg.image {
	background-image:url(../images/bg_1.jpg);
	background-position:center;
	background-size: 100% auto;
}


.bg-filter {
	position: absolute;
	width: 100%;
	height: 100%;
}

.bg-filter.dim {
	background: rgba(0,0,0,0.1);
}

.bg-filter.blur {
	background: inherit;
	filter: blur(1px);
}

.bg-filter.twill {
	background-image: url(../images/twill.png);
}
.bg-filter.dot {
	background-image: url(../images/dot.png);
}


/* Main */

#mainPane {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	height: 100%;
}

#mainPane .center-vertical {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

/* search-box */

#mainPane .search-box {
	width: 700px;
	margin: 70px auto 90px;
	
}

.enjoy-css {
	width: 100%;
	padding: 10px 20px;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 3px;
	color: rgba(255,255,255,0.8);
	background: rgba(255,255,255,0.1);
	box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.8);
	font-size: 16px;
	transition: all .2s, font-weight 0;
	
}

.enjoy-css::placeholder {
    color: rgba(255,255,255,0.7);
	opacity:1;
	font-weight:300; 	
}

.enjoy-css:focus {
	background: rgba(255,255,255,0.9);
	color:rgba(0,0,0,0.8);
	font-weight:400; 	
}
.enjoy-css:focus::placeholder {
    color:rgba(0,0,0,0.7);
}


/* top-website */

#mainPane .top-website {
	max-width:880px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	
}

.top-website .website {
	padding:10px;
}

.website .website-link {
	display: block;
	transition: all .2s;
}

.website .website-link:hover .website-icon, .website .website-link:hover .website-name{
	opacity:1;
}

.website .website-link .website-icon {
	width: 90px;
	height: 90px;
	border-radius:8px;
	opacity:0.7;
	transition: inherit;
	

}

.website .website-link .website-name {
	width: 90px;
	text-align: center;
	line-height: 1;
	padding-top:4px;
	font-size: 14px;
	color: #fff;
	opacity:0.7;
	transition: inherit;
	text-shadow: 0px 0px 10px rgba(0,0,0,1);
	font-weight:400;
}


/* top-website small */

#mainPane .top-website.small {
	margin-top:10px;	
}

.top-website.small .website .website-link .website-icon {
	width: 60px;
	height: 60px;
	opacity:0.5;
}

.top-website.small .website .website-link .website-name {
	width: 60px;
	padding-top:2px;
	font-size: 12px;
	opacity:0.5;
}
.top-website.small .website:hover .website-link .website-icon, .top-website.small .website:hover .website-link .website-name{
	opacity:1;
}


/* bookmarkPane */

#bookmarkPane {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: row;
}

ul.bookmark-groups {
	list-style: none;
	padding: 0;	
}

ul.bookmark-groups > li.title {
	position: relative;
	font-size: 16px;
	color: rgba(255,255,255,0.7);
	text-align: right;
	padding: 6px 15px 6px 10px;
	border-right: 5px solid rgba(255,255,255,0.7);
	text-shadow: 0px 0px 5px rgba(0,0,0,1);
	cursor: pointer;
	margin-bottom:10px;
	visibility: visibility;
	opacity:1;
	transition: all .2s;
}

ul.bookmark-groups > li.title:hover {
	color: rgba(255,255,255,0.9);
	border-right-color: rgba(255,255,255,1);
	background: rgba(0,0,0,0.2);
	
}

ul.bookmark-groups > li:hover ~ li {
	visibility: hidden;
	opacity:0;
}


/* children 2 level */

ul.bookmark-groups > li > ul {
	visibility: collapse;
	opacity:0;
	position: absolute;
	top: 100%;
	right: -5px; /* the same like li.title border right width */
	padding: 0;
	list-style: none;
	transition: all .2s;
}



ul.bookmark-groups > li:hover > ul {
	visibility: visible;
	opacity:1;
}

ul.bookmark-groups > li > ul > li a {
	font-size: 15px;
	color: rgba(255,255,255,0.7);
	text-align: right;
	padding: 6px 10px 6px 10px;
	border-right: 3px solid rgba(255,255,255,0.7);
	text-shadow: 0px 0px 5px rgba(0,0,0,1);
	white-space: nowrap;
	display: block;
	transition: all .2s;
	
}

ul.bookmark-groups > li  > ul > li:hover > a {
	color: rgba(255,255,255,0.9);
	border-right-color:rgba(255,255,255,1);
	background: rgba(0,0,0,0.2);
	
}

/* children 3.. level */

ul.bookmark-groups li li ul{
	padding: 0;
	list-style: none;
	transition: all .2s;
}

ul.bookmark-groups li li li > a {
	font-size: 13px;
	border-right: 1px solid rgba(255,255,255,0.7);
}

ul.bookmark-groups li li li:hover > a {
	color: rgba(255,255,255,0.9);
	border-right-color:rgba(255,255,255,1);
	background: rgba(0,0,0,0.2);	
}


ul.bookmark-groups li li li li > a {
	font-size: 12px;
	border-right: 0px solid rgba(255,255,255,0.7);
}